.button-group-container {
  display: block;
  .title {
    font-size: 16px;
    font-weight: bold;
  }
  .button-group {
    display: flex;
    width: 100%;
    margin-top: 10px;
    .button-group-item {
      display: block;
      flex: 1 1 0px;
      padding: 10px;
      border: 1px solid var(--hamk-primary-theme);
      border-right-width: 0;
      color: black;
      text-align: center;
      font-size: 10px;
      cursor: pointer;
      &:first-child {
        border-radius: 10px 0 0 10px;
      }
      &:last-child {
        border-radius: 0 10px 10px 0;
        border-right-width: 1px;
      }
      &.active {
        background: var(--hamk-primary-theme);
        outline: 0;
        color: white;
      }
    }
  }
}
