.map-card-container {
  position: relative;
  border-radius: 20px;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.22);
  background-color: white;
  height: 100px;
  width: 310px;
  display: inline-flex;
  align-items: bottom;
  .image {
    flex: 0 0 auto;
    width: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
  }
  .meta {
    flex-grow: 1;
    padding: 10px;
    .title {
      font-size: 14px;
      letter-spacing: -0.7px;
      white-space: initial;
    }
    .subtitle {
      margin-top: 5px;
      font-size: 10px;
      letter-spacing: -0.5px;
      opacity: 0.4;
    }
    .rating {
      margin-top: 5px;
      span {
        font-size: 9.6px;
        letter-spacing: -0.48px;
        &.empty {
          filter: saturate(0);
          opacity: 0.4;
        }
      }
    }
  }
  .more {
    flex: 0 0 auto;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    margin-top: 10px;
    position: relative;
  }
}
