/* Status bar blur */
body {
  &:after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 44px;
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
  }
}
