.tabs {
  height: 100px;
  background: rgb(0, 0, 0);
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  a {
    padding: 30px;
    color: white;
    text-decoration: none;
  }
  &:before {
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
    height: 40px;
    width: 40px;
    border-bottom-left-radius: 50%;
    z-index: 1;
    box-shadow: 0 20px 0 0 #000;
  }
  &:after {
    content: '';
    position: absolute;
    top: -40px;
    right: 0;
    height: 40px;
    width: 40px;
    border-bottom-right-radius: 50%;
    z-index: 1;
    box-shadow: 0 20px 0 0 #000;
  }
}

ion-router-outlet {
  bottom: 100px;
}
